.home-page {
    background-color: #ffffff;
    padding-top: 40px;
    margin: 0 auto;
}

.featured-section {
    max-width: 20%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.categories-section {
    max-width: 85%;
    margin: auto;
    padding: 10px;
    text-align: center;
    
}

h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #333;
}

.category-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }


  